<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link rel="icon" href="/static/home.png">
		<link href="/static/style.css" rel="stylesheet">
	</head>
	<body>
		{% include nav.html %}
		<!--homepage-->
		<div id="home" class="part">
		<h1 id="name" style="margin-top: 100px;" class="h1">My Homepage</h1>
		<h3>Go to Projects to see my projects, or go to Python to see my Python projects!</h3><br><br>
		<div class="contain">
			<p>In the Projects page, there are games, useful sites, and sites you can play with when you are bored.<br>
			In the Python page, there are mostly games and also some useful things. They are created with Python. There are also some websites I created with Python. Even though the page is about Python, you can also find websites that I created with Node.js.</p>
		</div>
    <form action="https://emailer.ruiwenge2.repl.co/send" method="POST" style="border:2px solid white; margin-right:20%; margin-left:20%; margin-top:50px">
      <h3>Enter a project suggestion!</h3>
      <input type="hidden" name="subject" value="New Project Suggestion">
      <p>Enter the name and description about the project: </p><textarea name="body" style="font-family:'Roboto'; width:90%; height:80px; font-size:20px; resize:none" placeholder="Type here"></textarea><br>
      <input type="hidden" name="redirecturl" value="https://ruiwenge2.repl.co/thanks">
      <input type="submit" class="button" style="width:150px; height:60px"><br><br>
    </form><br><br><br>
		</div>
	</body>
</html>