<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link rel="icon" href="/static/home.png">
		<link href="/static/style.css" rel="stylesheet">
	</head>
	<body>
		<nav>  <!--buttons-->
      <button id="homebtn" onclick="location.href = '/home'" class="button">Home</button>
      <button id="projectsbtn" onclick="location.href = '/projects'" class="button">Projects</button>
      <button id="pythonbtn" onclick="location.href = '/other'" class="button">Other</button>
    </nav>
		<!--homepage-->
		<div id="home" class="part">
		<h1 id="name" style="margin-top: 100px;" class="h1">My Homepage</h1>
		<h3>Go to Projects to see my projects, or go to Python to see my Python projects!</h3><br><br>
		<div class="contain">
			<p>In the Projects page, there are games, useful sites, and sites you can play with when you are bored. They are made with Python and Node.js.<br>
			In the Other page, there are mostly old HTML projects I have made a long time ago.</p>
		</div>
		</div>
	</body>
</html>