<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>My Projects</title>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link rel="icon" href="/static/home.png">
		<link href="/static/style.css" rel="stylesheet">
	</head>
	<body>
		<nav>  <!--buttons-->
      <button id="homebtn" onclick="location.href = '/home'" class="button">Home</button>
      <button id="projectsbtn" onclick="location.href = '/projects'" class="button">Projects</button>
      <button id="pythonbtn" onclick="location.href = '/other'" class="button">Other</button>
    </nav>
		<!--homepage-->
		<!--projects-->
		<div id="projects" class="part">
			<h1 style="margin-top: 100px;" class="h1">My Projects</h1>
			<h2>Hope you enjoy!</h2>
			<img src="/static/search.svg" draggable="false">
			<input id="search" oninput="search()" autocomplete="off" style="width:300px; height:30px; font-size:1.25em; border-radius:5px; border:2px solid blue; padding:5px" placeholder="Search for a project..." spellcheck="false">
			<main>
        {% for i in other %}<div>{% if "https://" in i.image %}<img src="{{i.image}}" draggable="false">{% else %}<img src="{{'https://projects.ruiwenge2.repl.co' + i.image}}" draggable="false">{% endif %}<h3 class="h3">{{i.name}}</h3><h3>{% if "https://" in i.link %}<a href="{{i.link}}" target="_blank">Open</a>{% else %}<a href="{{'https://projects.ruiwenge2.repl.co' + i.link}}" target="_blank">Open</a>{% endif %}</h3></div>{% endfor %}
			</main>
		</div>
    <script src="/static/script.js"></script>
	</body>
</html>